.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 4px 14px;
  cursor: pointer;
  font-size: 20px;
    text-decoration: none;
}
.center-corner{
    text-align: center;
  display: block;
  margin-top:30px;
  padding :50px;
  border: 2px solid #69696a;
  border-radius:3px;
  color: #B17461;
  font-size: 30px;
  font-family: arial;
  background-image: linear-gradient(#69696a, #69696a);
  background-repeat: no-repeat;
  transition: background-size .5s, color .5s;
}
.center-right-left, .center-top-bottom, .center-corner {
  background-position: 50% 50%;
}

.center-corner {
  background-size: 0% 0%;
}
.center-corner:hover {
  background-size: 100% 100%;
  color: #fff;
 
}

.center-corner:active {
height:200px;
 
}
.caption {
    display: block;
}

html {
  font: 100%/1.5 "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body { width: 300px; margin: 20px auto; }